body {
        
}
.clearfix::after {
  content: "";

  display: table;
  clear: both;
}
.main-header {
   width: 940px;
   height: 320px;
   margin: 0 auto;
   background-color: #f2f6f8; 
}
.user-navigation {
    width: 940px;
    background-color: #293449 
}
.logo {
    float: left;
    width: 220px;          
}
.search {
    float: left;
    width: 270px;
    
}
.bookmarks {
    float: right;
    width: 140px;
}
.basket {
    float: right;
    width: 160px
    
}
.order {
    float: right;
    width: 150px;
    
}
.information {
    width: 940px;
    height: 158px;
}
.adres-phone {
    float:left;
}
.information-text {
   float: left;
    width: 300px;
    height: 60px;
    margin-right: 20px;
}
.information-phone {
    width: 300px;
    border: 3px solid #fff;
}
.information-adres {
    display: block;
}
.user-block {
    display: none;
    
}
.entrance {
    float: right;
}
.main-navigation {
    width: 940px;
    height: 55px;
    background-color: #32425c;
}
.main-navigation ul {
    list-style-type: none;
}
.main-navigation li {
    display: inline-block;
    padding-left: 50px;
    text-align: center;
}
.main-container {
    width: 940px;
    max-height: 1370;
    padding: 0 10px;
    margin: 0 auto;
    margin-bottom: 60px;
}
.breadcrumbs {
    margin-top: 20px;
    height: 128px;
    margin-bottom: 20px;
}
.catalog-container {
    min-width: 940px;
}
.column-left {
    float: left;
    width: 220px;
    margin-right: 20px;
}
.price input[type=text] {
    width: 94px;
}
.brands {
    margin-top: 20px;
}
.view {
    margin-top: 20px;
}
.sortirovka {
    height: 38px;
    margin-bottom: 20px;
}
.column-right {
    max-width: 700px;
    float: right;
    
}
.catalog {
    max-width: 700px;
}
.bosch-product {
    float: left;
    width: 218px;
    height: 318px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #e5e5e5;
}
.bosch-product:nth-child(3n) {
    margin-right: 0;
    
}
.container-bottom {
    clear: both;
}
.pagination {

}
.pagination ul {
    list-style-type: none;
    padding-left: 0;
    
}
.pagination li {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    text-align: center;
    background: red;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.container-bottom {
    height: 263px;
}
footer {
    max-width: 940px;
    min-height: 64px;
    margin: 0 auto; 
}
.footer-navigation1 {
    margin-bottom: 20px;
}
.footer-navigation1 ul {
    list-style-type: none;
}
.footer-navigation1 li {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    text-align: center;
}
.adres-tel {
    float: left;
    width: 220px;
    height: 30px;
}
.footer-navigation2 {
    margin-bottom: 30px;
    
}
.footer-navigation2 ul {
    list-style-type: none;
}
.footer-navigation2 li {
    float: left;
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    text-align: center;
}
.footer-social {
    min-height: 108px;
}
.warning {
    float: left;
    height: 30px;
    width: 230px;
}
.social {
    float: left;
    margin-left: 100px;
}
.vfi {
    float: left;
    width: 40px;
    height: 40px;
    background: red;
    margin-right: 10px;
    border-radius: 100%;
        
}
.communication1 {
    float: left;
    width: 120px;
    margin-left: 100px; 
}
.communication2 {
    float: right;
    width: 120px;
}