body {
   font-weight: 700;
   font-size: 16px;
   line-height: 23px;
   font-family: "PT Sans", "Cuprum", "Arial", sans-serif;   
}
@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-technomart";
  src: url("../fonts/symbols-technomart.woff") format("woff"),
       url("../fonts/symbols-technomart.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-technomart";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-left::before { content: "\3c"; } /* "&lt;" */
.icon-right::before { content: "\3e"; } /* "&gt;" */
.icon-basket::before { content: "\62"; } /* "b" */
.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-vk::before { content: "\76"; } /* "v" */
.icon-up::before { content: "\2c4"; } /* "˄" */
.icon-down::before { content: "\2c5"; } /* "˅" */
.icon-left-big::before { content: "\2190"; } /* "←" */
.icon-right-big::before { content: "\2192"; } /* "→" */
.icon-login::before { content: "\2386"; } /* "⎆" */
.icon-logout::before { content: "\241b"; } /* "␛" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-circle::before { content: "\25cb"; } /* "○" */
.icon-circle-dot::before { content: "\25cf"; } /* "●" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-youtube::before { content: "\f39e"; } /* "" */
.icon-home::before { content: "🏠"; } /* "\1f3e0" */
.icon-user::before { content: "👨"; } /* "\1f468" */
.icon-phone::before { content: "📞"; } /* "\1f4de" */
.icon-instagramm::before { content: "📷"; } /* "\1f4f7" */
.icon-search::before { content: "🔍"; } /* "\1f50d" */
.icon-bookmark::before { content: "🔖"; } /* "\1f516" */

.clearfix::after {
   content: "";

   display: table;
   clear: both;
}
.main-header {
    min-height: 320px;
    background-color: #f1f5f7;
    
}
.container {
    width: 940px;
    margin: 0 auto;
}
.user-navigation {
    height: 42px;
    background-color: #293449;
    color: #ffffff;
}
.icon-basket {
    opacity: 0.6;
}
.icon-basket:hover {
    opacity: 1;
}
.icon-bookmark {
    opacity: 0.6;
}
.icon-bookmark:hover {
    opacity: 1;
}
.icon-search {
    opacity: 0.6;
}
.icon-search:hover {
    opacity: 1;
}
.icon-login {
    opacity: 0.6;
}
.icon-login:hover {
    color: black;
    opacity: 1;
}
.logo {
    float: left;
    background: #ee3643;
    text-align: center;
    padding: 8px 0;
    font-weight: 400;
    font-family: "Cuprum";
    box-shadow: inset 0 -4px 0 #b52933;
}
.logo a {
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
    line-height: 24px;
    padding: 9px 55px;
}
.logo a:hover {
    background: #ca2c37;
}
.logo a:active {
    background: #ba2732;
}
.search {
    display: inline-block;
    padding: 13px 0;
    line-height: 18px;
    vertical-align: top;
    font-family: "Cuprum";
}
.search a {
    padding: 13px 0;
    font-size: 17px;
    font-weight: 400;
    text-decoration: none;
    color: #ffffff;
    padding-left: 15px;
    padding-right: 160px;
}
.search .icon-search {
    padding-right: 13px;
}
.bookmarks {
    display: inline-block;
    padding-left: 44px;
    padding: 13px 0;
    line-height: 18px;
    vertical-align: top;
    font-family: "Cuprum";
    font-weight: 400;
}
.bookmarks a {
    font-size: 17px;
    text-decoration: none;
    color: #ffffff;
    padding: 13px 18px;
    width: 130px;
}
.bookmarks .icon-bookmark {
    padding-right: 14px;
}
.basket {
    display: inline-block;
    padding: 13px 0;
    line-height: 18px;
    vertical-align: top;
    font-family: "Cuprum";
    font-weight: 400;
    
}
.basket a {
    text-decoration: none;
    color: #ffffff;
    font-size: 17px;
    padding: 13px 30px 13px 25px;
}
.basket .icon-basket {
    padding-right: 17px;
}
.order {
    display: inline-block;
    padding: 12px 0;
    line-height: 18px;
    vertical-align: top;
    font-family: "Cuprum";
    background: #63a63e;
     font-weight: 400;
}
.order a {
    font-weight: 400;
    text-decoration: none;
    color: #ffffff;
    padding: 12px 14px;
    font-size: 17px;
}
.order:hover {
    background: #5fbb2d;
}
.order:active {
    opacity: 0,6;
}
.information {
    width: 940px;
    height: 158px;
}
.information-text {
    display: inline-block;
    width: 198px;
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    font-style: italic;
    text-align: left;
    font-family: "Cuprum";
    vertical-align: top;
    color: #ee3643;
    padding-right: 70px;
    padding: 45px 53px;
}
.information-phone {
    display: inline-block;
    width: 300px;
    height: 70px;
    font-family: "Cuprum";
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    margin-top: 60px;

}
.information-phone div {
    margin-top: 10px;
    color: #32425c;
}
.information-phone a {
    text-decoration: none;
    vertical-align: top;
    font-size: 21px;
    line-height: 18px;
    padding: 11px 41px 11px 15px;
    border: 3px solid #ffffff;
    color: #e9292a;
}
.icon-phone {
    padding-right: 40px;
    color: #b7bfc8;
}
.user-block {
    display: inline-block;
    padding-top: 60px;
    font-size: 21px;
    line-height: 18px;
    vertical-align: top;
    font-family: "Cuprum";
}
.user-block a {
    font-weight: 400;
    text-decoration: none;
    color: #444444;
}
.user-block .login {
    margin-left: 40px;
    margin-right: 10px;
    background: #ffffff;
    padding: 12px 27px 12px 15px;
}
.user-block a:hover {
    color: #f0515c;
}
.user-block .registration{
    padding: 12px 25px;
    background: #ffffff;
}
.main-navigation {  /*<!-- не могу сделать затемнение текста opacity:-->*/
    width: 940px;
    float: left;
    background-color: #32425c;
    box-shadow: inset 0 -4px 0 #293449;
}
.main-navigation ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 0;
}
.main-navigation li {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-size: 17px;
    line-height: 17px;
    font-weight: 400;
}
.main-navigation a {
    display: block;
    padding: 22px 29px;
    color: #ffffff;
    text-decoration: none;
}
.main-navigation a:hover {
    background: #293449;
}
.main-container {
    width: 940px;
    max-height: 1370;
    padding-top: 60px;
    margin: 0 auto;
    margin-bottom: 60px;
}
.content {
    padding-top: 21px;
    padding-bottom: 59px;
    text-align: center;
    font-family: "Cuprum";
    width: 940px;
    max-height: 1370;
    margin: 0 auto;
}
.breadcrumbs {
    display: block;
    padding-left: 54px;
    text-align: left;
    font-family: "Cuprum";
    margin-bottom: 20px;
}
.breadcrumbs a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: PT Sans,Arial,sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    vertical-align: top;
    margin-right: 41px;
    margin-bottom: 20px
    font-weight: 400;
    line-height: 18px;
    font-size: 13px;
}
.content h1 {
    text-transform: uppercase;
    font-family: "Cuprum";
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
    margin-bottom: 20px;
    padding: 30px 0;
    padding-left: 28px;
    background-color: #f2f6f8;
    text-align: left;
}
.catalog-navigation {
    display: block;
    background-color: #f7f3ec;
    border-radius: 3px;
    padding: 10px 0;
    padding-left: 18px;
    margin-bottom: 20px;
}
.sortirovka {
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    font-family: "PT Sans";
    text-align: left;
    margin-bottom: 0;
}
.sortirovka span {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    font-family: "PT Sans";
    margin-right: 140px;
    text-align: left;
}
.sortirovka a {
    color: #ee3643;
    text-decoration: none;
    margin-right: 63px;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    font-family: "PT Sans";
    text-align: left;
    opacity: 0.6;
    border-bottom: 1px dotted red;
}
.sort-active {
    color: red;
    text-decoration: none;
}
.sortirovka a:nth-child(4) {
    margin-right: 25px;
}

.arrow {
    display: inline-block;
    vertical-align: top;
    margin-left: 21px;
}
.arrow a {
    display: inline-block;
    width: 11px;
    height: 10px;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
}
.icon-up-dir {
    width: 11px;
    height: 10px;
    color: red;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
}
.icon-down-dir {
    width: 11px;
    height: 10px;
    color: red;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
}
.catalog-container {
    display: block
}
.column-left {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    width: 220px;
    text-align: left;
    font-family: "Cuprum";
}
.column-left span {
    display: block;
    margin-bottom: 10px;
    padding: 10px 0;
    padding-left: 18px;
    text-transform: uppercase;
    font-family: "PT Sans";
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    background-color: #f7f3ec;
    border-radius: 3px;
}
.price span {
    display: block;
    margin: 0;
    margin-bottom: 14px;
    padding: 0;
    text-transform: uppercase;
    font-family: "PT Sans";
    font-size: 17px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    background: #ffffff;
}
.price input[type=text] {
    width: 80px;
}
.price div {
    display: inline-block;
    width: 13px;
    margin: 0;
    padding: 0;
}
.brands {
    display: block;
    padding-top: 16px;
    padding-bottom: 2px;
    border-bottom: 1px solid #e5e5e5;
    text-align: left;
    font-family: "Cuprum";
}
.brands span {
    display: block;
    margin: 0;
    margin-bottom: 14px;
    padding: 0;
    text-transform: uppercase;
    font-family: "PT Sans";
    font-size: 17px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
}
.view {
    margin-top: 20px;
}
.column-right {
    max-width: 700px;
    float: right;
    
}
.assortment {
    min-width: 940px;
    margin-bottom: 40px;
    font-family: "Cuprum";
}
.assortment .text-assortment {
    display: block;
    color: #ffffff;
    font-size: 24px;
    line-height: 30px;
    padding-top: 25px;
    padding-left: 22px;
}
.assortment a { 
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    width: 135px; 
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px 0;
    margin-top: 15px;
    margin-left: 25px;
}
.block {
    float: left;
}
.materials {
    width: 300px;
    height: 123px;
    background: #f6b22d;
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
   
}
.materials:before {
    content: '';
    width: 45px;
    height: 67px;
    background: url(/img/bucket.png) center center no-repeat;
    position: absolute;
    right: 42px;
    top: 30px;
    z-index: 3;
    color: #fff;
}
/*.materials:before {
    content: '';
    height: 60px;
    width: 60px;
    background: url(/img/new%20flag.png) center center no-repeat; 
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    color: #fff;
}*/
.block materials a {
    background: #dda028;
}
.instrument {
    width: 300px;
    height: 123px;
    background: #4aafde;
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative
}
.instrument:before {
    content: '';
    width: 75px;
    height: 62px;
    background: url(/img/drill.png) center center no-repeat;
    position: absolute;
    right: 28px;
    top: 33px;
    z-index: 1;
    color: #fff;
}
.technics {
    width: 300px;
    height: 123px;
    background: #cc79d1;
    margin-bottom: 20px;
    position: relative;
}
.technics:before {
    content: '';
    width: 80px;
    height: 63px;
    background: url(/img/tractor.png) center center no-repeat;
    position: absolute;
    right: 30px;
    top: 31px;
    z-index: 1;
    color: #fff;
}
.banner {
    float: left;
}
.discount {
    width: 300px;
    height: 123px;
    background: #85d179;
    float: right;
    margin-bottom: 20px;
    position: relative;
}
.discount:before {
    content: '';
    width: 61px;
    height: 74px;
    background: url(/img/truck.png) center center no-repeat;
    position: absolute;
    right: 44px;
    top: 26px;
    z-index: 1;
    color: #fff;
}
.delivery {
    width: 300px;
    height: 123px;
    background: #f6b22d;
    float: right; 
    position: relative;
}
.delivery:before {
    content: '';
    width: 80px;
    height: 66px;
    background: url(/img/auto1.png) center center no-repeat;
    position: absolute;
    right: 30px;
    top: 32px;
    z-index: 1;
    color: #fff;
}
.popular-product {
    width: 940px;
    margin-bottom: 20px;
}
.description {
    background: #f7f3ec;
    height: 89px;
    margin-bottom: 20px;
}
.description-topic {
    display: inline-block;
    font-size: 30px;
    line-height: 30px;
    font-family: "Cuprum";
    font-weight: 400;
    text-transform: uppercase;
    padding: 30px 25px;
}
.description a {
    padding: 10px 0;
    width: 253px;
}
.popular-btn {
    float: right;
    text-decoration: none;
    text-align: center;
    font-family: "Cuprum";
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    padding: 0;
    margin-right: 25px;
    margin-top: 25px;
    background: #ee3643;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.description a:hover {
    background: #ca2c37; 
}
item item--ribbon {
      border: 1px solid #e5e5e5;
}
item2 item--ribbon {
      border: 1px solid #e5e5e5;
}
.item {
    display: inline-block;
    position: relative;
    width: 218px;
    height: 316px;
    box-sizing: border-box;
    background-color: #fff;
    text-decoration: none;
    border: 1px solid #e5e5e5;
    padding: 15px;
    text-align: center;
    margin-right: 18px;
}
.item2 {
    display: inline-block;
    position: relative;
    width: 218px;
    height: 316px;
    box-sizing: border-box;
    background-color: #fff;
    text-decoration: none;
    border: 1px solid #e5e5e5;
    padding: 15px;
    text-align: center;
    margin-right: 18px;
    margin-bottom: 20px;
}
.item--ribbon-new:before {
  content: '';
  height: 60px;
  width: 60px;
  background: url(/img/new%20flag.png) center center no-repeat;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;  
}
.item-thumb { 
  height: 157px;
  
  position: relative;
}
.item-thumb img {
 position: absolute; 
  
 left: 50%;
 top: 50%;
 transform: translate(-50%, -50%);  
}
.item-buy {
  height: 215px;
  position: absolute;  
  left: 0;
  top: 0;
  right: 0;
  bottom: 0; 
  /*display: none;*/
}
.actions {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  
  transform: translate(0, -50%);
}
.item .action {
    position: absolute;
    top: 0;
    left: 0;
    width: 218px;
    height: 88px;
    padding: 40px 0;
    background-color: #fff; 
}
.item2 .action {
    position: absolute;
    top: 0;
    left: 0;
    width: 218px;
    height: 88px;
    padding: 40px 0;
    background-color: #fff; 
}
.actions .buy,
.actions .bookmark {
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 14px;
    text-decoration: none;
    display: block;
    width: 135px;
    margin: 0 auto 7px;
    padding: 10px 0;
    text-transform: uppercase;
    color: #fff;
    border-radius: 3px;
    background-color: #63a63e;
}
.actions .buy {
  box-shadow: inset 0 -3px 0 #367315;
}
.actions .bookmark {
    width: 129px;
    padding: 7px 0;
    color: #63a63e;
    border: 3px solid #63a63e;
    background-color: #fff;
}
.item .name {
    display: inline-block;
    padding: 0 25px;
    margin-bottom: 10px;
    min-height: 40px;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #000;
}
.item2 .name {
    display: inline-block;
    padding: 0 25px;
    margin-bottom: 10px;
    min-height: 40px;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #000;
}
.item .strike {
    display: block;
    margin-bottom: 10px;
    min-height: 20px;
    text-transform: uppercase;
    text-decoration: line-through;
    text-align: center;
    font-size: 17px;
    line-height: 18px;
    color: #999;
    font-family: "PT Sans";
}
/*.item .strike:nth-child(3) {
   
}*/
.item2 .strike {
    display: block;
    margin-bottom: 10px;
    min-height: 20px;
    text-transform: uppercase;
    text-decoration: line-through;
    text-align: center;
    font-size: 17px;
    line-height: 18px;
    color: #999;
    font-family: "PT Sans";
}
.item:nth-child(5){
    margin-right: 0;
}
.item2:nth-child(3n){
    margin-right: 0;
}
.item .btn {
    position: relative;
    width: 80px;
    margin: 0 auto 20px;
    padding: 8.5px 33px 8.5px 28px;
    text-align: center;
    color: #ffffff;
    background-color: #ee3643;
    border-radius: 3px;
    z-index: 1000;
}
.item2 .btn {
    position: relative;
    width: 80px;
    margin: 0 auto 20px;
    padding: 8.5px 33px 8.5px 28px;
    text-align: center;
    color: #ffffff;
    background-color: #ee3643;
    border-radius: 3px;
    z-index: 1000;
}
.item .btn:after {
    position: absolute;
    top: 0;
    right: -20px;
    width: 0;
    height: 0;
    content: '';
    border: 20px solid #000;
    border: 20px solid #fff;
    border-left-color: #ee3643;
}
.item2 .btn:after {
    position: absolute;
    top: 0;
    right: -20px;
    width: 0;
    height: 0;
    content: '';
    border: 20px solid #000;
    border: 20px solid #fff;
    border-left-color: #ee3643;
}
.popular-producers {
    clear: both;
    width: 940px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.bosch-product2 {
    position: relative;
    width: 218px;
    height: 318px;
    float: left;
    border: 1px solid #e5e5e5;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.bosch-product2 .action {
    position: absolute;
    top: 0;
    left: 0;
    width: 218px;
    height: 88px;
    padding: 40px 0;
    background-color: #fff; 
}
.actions .buy,
.actions .bookmark {
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 14px;
    text-decoration: none;
    display: block;
    width: 135px;
    margin: 0 auto 7px;
    padding: 10px 0;
    text-transform: uppercase;
    color: #fff;
    border-radius: 3px;
    background-color: #63a63e;
}
.actions .buy {
  box-shadow: inset 0 -3px 0 #367315;
}
.actions .bookmark {
    width: 129px;
    padding: 7px 0;
    color: #63a63e;
    border: 3px solid #63a63e;
    background-color: #fff;
}
.bosch-product2 .action {
      display: none;
}
.bosch-product2:hover .action {
    display: block;
}
.bosch-product-image {
    width: 218px;
    height: 168px;
    overflow: hidden;
}
.bosch-product2 img {
    max-width: 100%;
}
.bosch-product2 .name {
    display: inline-block;
    padding: 0 25px;
    margin-bottom: 15px;
    min-height: 40px;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #000;
}
.bosch-product2 .strike {
    display: block;
    margin-bottom: 10px;
    min-height: 20px;
    text-transform: uppercase;
    text-decoration: line-through;
    text-align: center;
    font-size: 17px;
    line-height: 17px;
    color: #999;
    font-family: PT Sans;
}
.bosch-product2 .strike:nth-child(3) {
    margin: 0;
    padding: 0;
}
.bosch-product2:nth-child(3n){
    margin-right: 0;
}
.bosch-product2 a {
    padding-left: 34px;
    padding-right: 37px;
    width: auto;
    text-decoration: none;
    text-transform: uppercase;
    font-family: PT Sans;
    font-size: 17px;
    line-height: 17px;
}
.bosch-product2 .btn {
    position: relative;
    width: 80px;
    margin: 0 auto 20px;
    padding: 10px 30px;
    text-align: center;
    color: #ffffff;
    background-color: #ee3643;
    border-radius: 3px;
    z-index: 1000;
}
.bosch-product2 .btn: after {
    position: absolute;
    top: 0;
    right: -20px;
    width: 0;
    height: 0;
    content: '';
    border: 20px solid #000;
    border: 20px solid #fff;
    border-left-color: #ee3643;
}
.product-logo {
    float: left;
    border: 1px solid #e5e5e5;
    width: 218px;
    height: 143px;
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
}
.product-logo a {
    text-align: center;
    padding: auto;
    width: 218px;
    height: 143px;
}
.product-logo a img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.product-logo:nth-child(4n) {
    margin-right: 0;
}
.service {
    display: inline-block;
    width: 940px;
    height: 521px;
    background-color: #f2f6f8;
    padding-top: 65px;
    margin-top: 66px;
    position: relative;
        
}
.service:before {
    content: '';
    width: 470px;
    height: 263px;
    background: url(/img/autoshadow.png) center center no-repeat;
    position: absolute;
    right: 0;
    top: 261px;
    z-index: 1;
    color: #fff;
}
.service-block1 {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    font-family: "Cuprum";
}
.service-block1 h2 {
    text-align: left;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
    margin-bottom: 27px;
    padding: 0; 
}
.service-block1 .service-text {
    text-align: left;
    font-family: "PT Sans";
    width: 400px;
    margin: 0;
    margin-bottom: 70px;
    padding: 0;
    padding-right: 540px;
    text-transform: none;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}
.service-text {
    width: 500px;  
}
.btn-discription {
    clear: both;
    position: relative;
}
.service:after {
    content: '';
    width: 10px;
    height: 280px;
    background: url(/img/line.png) center center no-repeat;
    position: absolute;
    right: 700px;
    top: 205px;
    color: #fff;
    z-index: 3;
}
.service-btn {
    float: left;
    font-size: 21px;
    line-height: 30px;
    font-family: "Cuprum";
    width: 240px;
    height: 60px;
    background: #32425c;
    color: #fff;
    margin-right: 80px;
}
.service-btn a {
    display: block;
    text-decoration: none;
    padding-left: 22px;
    padding-bottom: 20px;
    padding-top: 20px;
    background: #32425c;
    color: #fff;
    border-top: 1px solid #293449;
}
.service-btn a:hover {
    background: #f2f6f8;
    color: #fff;
}
.service-btn .active {
    background: #fff;
    color: #32425c;
}
.servise-block2 {
   float: left;
    width: 300px;
    height: 150px;
}
.servise-block2 h2 {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    font-family: "Cuprum";
    text-transform: uppercase;
    text-align: left;
    color: #32425c;
    margin: 0;    
}
.service-text {
    display: block;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    font-family: "PT Sans";
    text-transform: none;
    width: 280px;
}
.bottom-description {
    display: block;
    padding-top: 78px;
    padding-bottom: 85px;   
}
.bottom-description-left {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    margin-right: 100px;
    padding: 0;
    width: 540px;
}
.bottom-description-left h2 {
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    font-family: "Cuprum";
    text-transform: uppercase;
    margin-bottom: 26px;
}
.text-left1 {
    display: block;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    font-family: "PT Sans";
    text-transform: none;
}
.text-left2 {
    display: block;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    font-family: "PT Sans";
    text-transform: none;
    padding-right: 150px;
}
.bottom-description-left ul {
    display: block;
    list-style-type: disc;
    text-align: left;
    margin-bottom: 36px;
}
.bottom-description-left li { /*как поставить маркеры "-"?*/
    display: list-item;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    list-style: none;
    text-transform: none;
    font-family: "Cuprum";
    padding-left: 36px;
    margin-bottom: 20px;
}
.bottom-description-left a {
    width: 220px;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: "Cuprum";
    padding: 10px 0;
    color: #ffffff;
    background-color: #ee3643;
    border-radius: 3px;
}
.bottom-description-left a:hover {
    background: #ca2c37;
}
.bottom-description-right {
    display: inline-block;
    margin: 0;
    width: 295px;
}
.bottom-description-right h2 {
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    font-family: "Cuprum";
    text-transform: uppercase;
    margin-bottom: 26px;
}
.text-right {
    display: block;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    font-family: "PT Sans";
    text-transform: none;
    padding-right: 80px;
    margin-bottom: 20px;
}
.bottom-description-right img {
    width: 295px;
    height: 158px;
    margin-bottom: 35px;
}
.bottom-description-right a {
    width: 295px;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: "Cuprum";
    padding: 10px 0;
    color: #ffffff;
    background-color: #ee3643;
    border-radius: 3px;
}
.bottom-description-right a:hover {
    background: #ca2c37;
}
.pagination {
    display: block;
    text-align: left;
    font-family: "Cuprum";
}
.pagination ul {
    list-style-type: none;
    padding-left: 0;
    
}
.pagination li {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    text-align: center;
    background: red;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    font-family: "Cuprum";
}
.container-bottom {
    display: block;
    text-align: center;
    font-family: "Cuprum";
    padding: 69px 0;
    background-color: #f2f6f8;
}
.container-bottom h2 {
    display: block;
    font-size: 30px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-transform: uppercase;
    font-family: "Cuprum";
    margin: 0;
    margin-bottom: 29px;
    padding: 0;
}
.container-bottom p {
    display: block;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    font-family: "PT Sans";
    text-align: left;
}
footer {/*думаю с футером проблем не будет*/
    width: 940px;
    margin: 0 auto; 
    padding: 0 auto;
    text-align: center;
}
.footer-navigation1 {
    background-color: #32425c;
}
.footer-navigation1 .logo {
    display: inline-block;
    margin-bottom: 33px;
    padding: 19px 0 15px;
    width: 220px;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: top;
    color: #fff;
    letter-spacing: .85px;
    background-color: #ee3643;
    font-family: "Cuprum"     
}
.logo-navigation ul { /* как сделать подчеркивание при наведение?*/
    list-style-type: none;
    text-align: right;
    font-family: "Cuprum";
    margin-bottom: 0;
    margin-top: 0;
}
.logo-navigation li  {
    display: inline-block;
    margin-left: 60px;
    margin-top: 39px;
    margin-bottom: 35px;
    color: #ffffff;
}
.logo-navigation li:hover {
    text-decoration: underline;
}
.logo-navigation a {
    color: #ffffff;
    text-decoration: none;
}
.adres-tel {
    float: left;
    width: 220px;
    height: 30px;
}

.footer-navigation2 {
    background-color: #32425c; 
    padding-bottom: 49px;
}
.footer-navigation2 .adres {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #ffffff;
    font-family: "Cuprum";
}
.footer-navigation2 .tel {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #ffffff;
    font-family: "Cuprum";
}

.logo-navigation2 ul {
    list-style-type: none;
    text-align: right;
    font-family: "Cuprum";
    margin-top: 0;
}
.logo-navigation2 li  {
    display: inline-block;
    list-style-type: disc;
    margin-left: 60px;
    margin-bottom: 35px;
    color: #ffffff;
    
}
.logo-navigation2 a {
    color: #f5ca7e;
    text-decoration: none;
    vertical-align: top;
}
.footer-social {
    display: inline-block;
    background-color: #293449;
    min-width: 940px;
    height: 108px;
    color: #ffffff;
}
.logo-navigation2 li:hover {
     text-decoration: underline;
}
.warning {
    float: left;
    width: 225px;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    margin-right: 150px;
    padding-top: 38px;
    padding-bottom: 34px;
    text-align: left;
    font-family: "Cuprum"
}
.social {
    float: left;
    text-align: left;
    vertical-align: top;
    padding-top: 35px;
    width: 250px;
    color: #ffffff;
    font-family: "Cuprum"; 
}
.social-btn-ins {
    position: relative;
}
.icon-instagramm {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -6px;
}
.social-btn-vk {
    position: relative;
}
.icon-vk {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -6px;
}
.social-btn-fb {
    position: relative;
}
.icon-facebook {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -6px;
}
.vfi {
    display: inline-block;
}
.vfi a {
    display: inline-block;
    width: 42px;
    height: 42px;
    background-color: #212a3a;
    margin-right: 3px;
    border-radius: 100%;
    text-align: center;
}
.vfi .icon-vk {
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    height: 11px;
}
.vfi .icon-facebook {
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    height: 11px;
}
.vfi .icon-instagramm {
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    height: 11px;
    vertical-align: 
}
.vfi a:hover {
    background: #ee3643; 
}
.communication1 {
    float: left;
    font-family: "Cuprum";
    vertical-align: top;
    margin: 0;
    padding: 0;
    padding-top: 37px;
    width: 150px;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}
.communication1 a {
    text-decoration: none;
    color: #ffd180;
}
.communication1 a:hover {
     text-decoration: underline;
}
.communication2 a {
    text-decoration: none;
    color: #ffd180;
}
.communication2 a:hover {
     text-decoration: underline;
}
.communication2 {
    float: right;
    font-family: "Cuprum";
    vertical-align: top;
    margin: 0;
    padding: 0;
    padding-top: 37px;
    padding-left: 35px;
    width: 115px;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}