body {
   font-weight: 700;
   font-size: 16px;
   line-height: 23px;
   font-family: "PT Sans", "Cuprum", "Arial", sans-serif;
        
}
.clearfix::after {
   content: "";

   display: table;
   clear: both;
}
.main-header {
    min-height: 320px;
    margin-bottom: 60px;
    background-color: #f1f5f7;
    
}
.container {
    width: 940px;
    margin: 0 auto;
}
.user-navigation {
    height: 42px;
    background-color: #293449;
    color: #ffffff;
}
.logo {
    float: left;
    background: #ee3643;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    padding: 9px 55px;
    font-family: "Cuprum";
}
.logo a {
    text-transform: uppercase;
    font-weight: 400;
    text-decoration: none;
    color: #ffffff;
}
.search {
    display: inline-block;
    padding: 13px 48px;
    padding-right: 160px;
    font-size: 17px;
    line-height: 18px;
    vertical-align: top;
    font-family: "Cuprum";
}
.search a {
    font-weight: 400;
    text-decoration: none;
    color: #ffffff;
}
.bookmarks {
    display: inline-block;
    padding: 13px 28px;
    padding-left: 44px;
    font-size: 17px;
    line-height: 18px;
    vertical-align: top;
    font-family: "Cuprum";
}
.bookmarks a {
    font-weight: 400;
    text-decoration: none;
    color: #ffffff;
}
.basket {
    display: inline-block;
    padding: 13px 30px;
    padding-left: 50px;
    font-size: 17px;
    line-height: 18px;
    vertical-align: top;
    font-family: "Cuprum";
    
}
.basket a {
    font-weight: 400;
    text-decoration: none;
    color: #ffffff;
}
.order {
    display: inline-block;
    padding: 12px 22px;
    font-size: 17px;
    line-height: 18px;
    vertical-align: top;
    font-family: "Cuprum";
    background: #63a63e;
}
.order a {
    font-weight: 400;
    text-decoration: none;
    color: #ffffff;
}
.order:hover {
    background: #5fbb2d;
}
.information {
    width: 940px;
    height: 158px;
}
.information-text {
    display: inline-block;
    width: 198px;
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    font-style: italic;
    text-align: left;
    font-family: "Cuprum";
    vertical-align: top;
    color: #ee3643;
    padding-right: 70px;
    padding: 45px 53px;
}
.information-phone {
    display: inline-block;
    width: 300px;
    height: 70px;
    font-family: "Cuprum";
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    margin-top: 60px;
}
.information-phone a {
    text-decoration: none;
    vertical-align: top;
    font-size: 21px;
    line-height: 18px;
    padding: 11px 50px;
    padding-left: 70px;
    border: 3px solid #ffffff;
}
.user-block {
    display: inline-block;
    padding-top: 60px;
    font-size: 21px;
    line-height: 18px;
    vertical-align: top;
    font-family: "Cuprum";
}
.user-block a {
    font-weight: 400;
    text-decoration: none;
    color: #444444;
}
.user-block .login {
    margin-left: 40px;
    margin-right: 10px;
    background: #ffffff;
    padding: 14px 27px;
    padding-left: 50px;
}
.user-block a:hover {
    color: #f0515c;
}
.user-block .registration{
    padding: 14px 25px;
    background: #ffffff;
}
.main-navigation {  /*<!-- не могу сделать затемнение текста opacity:-->*/
    width: 940px;
    float: left;
    background-color: #32425c;
}
.main-navigation ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 0;
}
.main-navigation li {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-size: 17px;
    line-height: 17px;
    font-weight: 400;
}
.main-navigation a {
    display: block;
    padding: 22px 29px;
    color: #ffffff;
    text-decoration: none;
}
.main-navigation a:hover {
    background: #293449;
}
.main-container {
    width: 940px;
    margin: 0 auto;
}
.assortment {
    min-width: 940px;
    margin-bottom: 40px;
    font-family: "Cuprum";
}
.assortment .text-assortment {
    display: block;
    color: #ffffff;
    font-size: 24px;
    line-height: 30px;
    padding-top: 25px;
    padding-left: 22px;
}
.assortment a { /*-- не пойму как ее переместить вниз--*/
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 18px;
    color: #ffffff;
    width: 135px; 
    background: red;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px 0;
}
.block {
    float: left;
}
.materials {
    width: 300px;
    height: 123px;
    background: #f6b22d;
    margin-right: 20px;
    margin-bottom: 20px;
}
.instrument {
    width: 300px;
    height: 123px;
    background: #4aafde;
    margin-right: 20px;
    margin-bottom: 20px;
}
.technics {
    width: 300px;
    height: 123px;
    background: #cc79d1;
    margin-bottom: 20px;
}
.banner {
    float: left;
}
.discount {
    width: 300px;
    height: 123px;
    background: #85d179;
    float: right;
    margin-bottom: 20px;
}
.delivery {
    width: 300px;
    height: 123px;
    background: #f6b22d;
    float: right;       
}
.popular-product {
    width: 940px;
    margin-bottom: 20px;
}
.description {
    background: #f7f3ec;
    height: 89px;
    margin-bottom: 20px;
}
.description-topic {
    display: inline-block;
    font-size: 30px;
    line-height: 30px;
    font-family: "Cuprum";
    font-weight: 400;
    text-transform: uppercase;
    padding: 30px 25px;
}
.description a {
    padding: 10px 0;
    width: 253px;
}
.popular-btn {
    float: right;
    text-decoration: none;
    text-align: center;
    font-family: "Cuprum";
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    padding: 0;
    margin-right: 25px;
    margin-top: 25px;
    background: #ee3643;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.description a:hover {
    background: #ca2c37; 
}
.bosch-product {
    width: 218px;
    height: 318px;
    float: left;
    border: 1px solid #e5e5e5;
    margin-right: 20px;
    margin-bottom: 20px;
}
.bosch-product img {
    display: block;
    text-align: center;
    margin: 0 auto;
}
.bosch-product .name {
    display: inline-block;
    padding: 0 30px;
    margin-bottom: 12px;
    min-height: 40px;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #000;
}
.bosch-product .strike {
    display: block;
    margin-bottom: 11px;
    min-height: 17px;
    text-transform: uppercase;
    text-decoration: line-through;
    text-align: center;
    font-size: 17px;
    line-height: 17px;
    color: #999;
    font-family: PT Sans;
}
.bosch-product .strike:nth-child(3) {
    margin: 0;
    padding: 0;
}
.bosch-product:nth-child(6n){
    margin-right: 0;
}
.bosch-product a {
    padding-left: 34px;
    padding-right: 37px;
    width: auto;
    text-decoration: none;
    text-transform: uppercase;
    font-family: PT Sans;
    font-size: 17px;
    line-height: 17px;
}
.bosch-product .btn {
    display: inline-block;
    margin: 0;
    padding: 10px 0;
    text-align: center;
    color: #ffffff;
    background-color: #ee3643;
    border-radius: 3px;
    z-index: 1000;
}
.popular-producers {
    clear: both;
    width: 940px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.product-logo {
    float: left;
    width: 218px;
    height: 143px;
    border: 1px solid #e5e5e5;
    margin-right: 20px;
    margin-bottom: 20px;
}
.product-logo a {
    text-align: center;
    padding: auto;
}
.product-logo a img {
    display: block;
    margin: auto;
    text-align: center;    
}
.product-logo:nth-child(4n+5) {
    margin-right: 0;
}
.service {
    display: inline-block;
    width: 940px;
    background-color: #f2f6f8;
    padding-top: 65px;
    margin-top: 66px;
        
}
.service-block1 {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    font-family: "Cuprum";
}
.service-block1 h2 {
    text-align: left;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
    margin-bottom: 27px;
    padding: 0; 
}
.service-block1 .service-text {
    text-align: left;
    font-family: "PT Sans";
    width: 400px;
    margin: 0;
    margin-bottom: 70px;
    padding: 0;
    padding-right: 540px;
    text-transform: none;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}
.service-text {
    width: 500px;  
}
.btn-discription {
    clear: both;
}
.service-btn {
    float: left;
}
.service-btn a {
    display: block;
    margin-right: 40px;
}

.servise-block2 {
   float: left;
}
.servise-block2 h2 {
    margin-top: 0;
}
.img {
    float: right;
}
.shadow {
    float: right;
}
.bottom-description {
    display: block;
    padding-top: 78px;
    padding-bottom: 85px;   
}
.bottom-description-left {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    margin-right: 100px;
    padding: 0;
    width: 540px;
}
.bottom-description-left h2 {
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    font-family: "Cuprum";
    text-transform: uppercase;
    margin-bottom: 26px;
}
.text-left1 {
    display: block;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    font-family: "PT Sans";
    text-transform: none;
}
.text-left2 {
    display: block;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    font-family: "PT Sans";
    text-transform: none;
    padding-right: 150px;
}
.bottom-description-left ul {
    display: block;
    list-style-type: disc;
    text-align: left;
    margin-bottom: 36px;
}
.bottom-description-left li { /*как поставить маркеры "-"?*/
    display: list-item;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    list-style: none;
    text-transform: none;
    font-family: "Cuprum";
    padding-left: 36px;
    margin-bottom: 20px;
}
.bottom-description-left a {
    width: 220px;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: "Cuprum";
    padding: 10px 0;
    color: #ffffff;
    background-color: #ee3643;
    border-radius: 3px;
}
.bottom-description-left a:hover {
    background: #ca2c37;
}
.bottom-description-right {
    display: inline-block;
    margin: 0;
    width: 295px;
}
.bottom-description-right h2 {
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    font-family: "Cuprum";
    text-transform: uppercase;
    margin-bottom: 26px;
}
.text-right {
    display: block;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    font-family: "PT Sans";
    text-transform: none;
    padding-right: 80px;
    margin-bottom: 20px;
}
.bottom-description-right img {
    width: 295px;
    height: 158px;
    margin-bottom: 30px;
}
.bottom-description-right a {
    width: 295px;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: "Cuprum";
    padding: 10px 0;
    color: #ffffff;
    background-color: #ee3643;
    border-radius: 3px;
}
.bottom-description-right a:hover {
    background: #ca2c37;
footer {                         /*думаю с футером проблем не будет*/
    max-width: 940px;
    min-height: 64px;
    margin: 0 auto; 
}
.footer-navigation1 {
    margin-bottom: 20px;
}
.footer-navigation1 ul {
    list-style-type: none;
}
.footer-navigation1 li {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    text-align: center;
}
.adres-tel {
    float: left;
    width: 220px;
    height: 30px;
}
.footer-navigation2 {
    margin-bottom: 30px;
    
}
.footer-navigation2 ul {
    list-style-type: none;
}
.footer-navigation2 li {
    float: left;
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    text-align: center;
}
.footer-social {
    min-height: 108px;
}
.warning {
    float: left;
    height: 30px;
    width: 230px;
}
.social {
    float: left;
    margin-left: 100px;
}
.vfi {
    float: left;
    width: 40px;
    height: 40px;
    background: red;
    margin-right: 10px;
    border-radius: 100%;
        
}
.communication1 {
    float: left;
    width: 120px;
    margin-left: 100px; 
}
.communication2 {
    float: right;
    width: 120px;
}